body{
    background-color:rgb(59, 241, 23);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color:blue;
}
h1{
    color:red;
}
h3{
    color:blue;
}
p{
    font-style: italic;
}
.poem{
    border:10px solid;
    border-color:gold;
    width: 50%;
    height:50%;
    margin:auto;
    background-color:rgba(247, 164, 10, 0.911);
    
}
